.createpost{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    text-align: center;
    margin: 5rem auto 0;
}
.createpost input{
    margin: 10px 20px;
}
.createpost button:active {
    position: relative;
    top: 1px;
}
.toast-error{
    color: white;
    position: absolute;
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
    border: 1px solid red;
    background-color:red;
    padding: 2px 5px;
    border-radius: 4px;
}
.toast-success{
    color: white;
    position: absolute;
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
    background-color: green;
    border: 1px solid green;
    padding: 2px 5px;
    border-radius: 4px;
}